name: Publish

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15

    strategy:
      matrix:
        node: [WIN7-Release,WIN8-Release,WIN10-Release]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Decrypt SNK file
      run: ./.github/scripts/decrypt_snk.bat
      env:
        snk_passphrase: ${{ secrets.SNK_PASSPHRASE }}

    - name: Set environment variables
      uses: FranzDiebold/github-env-vars-action@v2

    - name: Run build
      run: dotnet build --configuration ${{ env.CONFIGURATION }} /p:Version="${{ env.CI_ACTION_REF_NAME }}"
      env:
        CONFIGURATION: ${{ matrix.node }}

    - name: Run test
      run: dotnet test --configuration ${{ env.CONFIGURATION }} --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
      env:
        CONFIGURATION: ${{ matrix.node }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: nuget-packages
        path: |
          **/*.nupkg
  
  publish:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v2
      with:
        name: nuget-packages
    
    - name: Publish to NuGet
      run: dotnet nuget push **/*.nupkg -k ${NUGET_TOKEN} -s ${PUBLISH_URL} --skip-duplicate --no-symbols
      env:
        NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
        PUBLISH_URL: https://api.nuget.org/v3/index.json

    - name: Publish to GitHub
      run: dotnet nuget push **/*.nupkg -k ${NUGET_TOKEN} -s ${PUBLISH_URL} --skip-duplicate --no-symbols
      env:
        NUGET_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PUBLISH_URL: https://nuget.pkg.github.com/dotras/index.json
